

#mastodon .search {
    margin: 10px 18px 24px !important;
}
.theme-mastodon-light .search__input {
    background: whitesmoke !important;
}
#mastodon .search__input {
    font-size: 18px !important;
    border-radius: 999px !important;
    border-color: whitesmoke !important;
}