@media screen and (min-width: 1260px) {
  #mastodon .columns-area__panels__pane__inner {
    width: 320px !important; 
  }
}
@media screen and (min-width: 1360px) {
  #mastodon .columns-area__panels__pane__inner {
    width: 370px !important; 
  }
}
@media screen and (min-width: 1400px) {
  #mastodon .columns-area__panels__pane__inner {
    width: 390px !important; 
  }
}
@media screen and (min-width: 1500px) {
  #mastodon .columns-area__panels__pane__inner {
    width: 440px !important; 
  }
}