#mastodon .ui {
  margin-top: 12px !important;
}
#mastodon .button {
  border-radius: 999px !important;
  padding: 12px 24px !important;
}
#mastodon .account__avatar {
  border-radius: 999px !important;
}
#mastodon .status__content,
#mastodon .navigation-bar a {
  font-size: 18px !important;
  line-height: 28px !important;
  font-weight: normal !important;
}
#mastodon .column-header {
  border: 0 !important;
}
#mastodon .column-link {
  font-size: 20px !important;
  padding: 18px !important;
}
#mastodon .column-link__icon {
  margin-right: 16px !important;
}
.theme-mastodon-light .tabs-bar__wrapper,
.theme-mastodon-light .column-header__collapsible-inner {
  background: white !important;
}
#mastodon .account__section-headline,
#mastodon .notification__filter-bar,
#mastodon .notification__filter-bar button {
  background: none !important;
}
body.theme-mastodon-light,
#mastodon hr,
.theme-mastodon-light .columns-area__panels__pane--navigational .navigation-panel,
.theme-mastodon-light .ui__header,
.theme-mastodon-light .column-inline-form,
.theme-mastodon-light .column>.scrollable,
.theme-mastodon-light .error-column,
.theme-mastodon-light .getting-started,
.theme-mastodon-light .regeneration-indicator {
  background: white !important;
}

#mastodon hr,
.columns-area__panels__pane--navigational .navigation-panel,
.ui__header,
.column-inline-form,
.column>.scrollable,
.error-column,
.getting-started,
.regeneration-indicator {
  border: 0 !important;
}
#mastodon .notification__filter-bar {
  border-left: 0 !important;
  border-right: 0 !important;
}

/* Compose form reply text */
#mastodon .reply-indicator {
  margin-bottom: 24px;
  border-color: whitesmoke;
}
#mastodon .setting-text {
  font-size: 18px !important;
  border-radius: 12px !important;
}

/* Bookmark icon, notification count badge */
/*#mastodon .icon-button.bookmark-icon.active,*/
#mastodon .icon-with-badge__badge {
  background: #ff5050 !important;
}

#mastodon .poll__input,
#mastodon .poll__input:active,
#mastodon .poll__input:focus,
#mastodon .poll__input:hover {
  border-width: 1px !important;
  border-radius: 12px !important;
  border-color: #007acc !important;
}
#mastodon .poll__input.active {
  border-color: #6060FF !important;
  background: #6060FF !important;
}
#mastodon .poll .button {
  height: 46px !important;
  border-width: 0 !important;
  color: white !important;
}
#mastodon .poll__chart {
  background: #6060FF !important;
  opacity: 0.5 !important;
}
#mastodon .poll__chart.leading {
  opacity: 1 !important;
}
#mastodon .button.button-secondary:active,
#mastodon .button.button-secondary:focus,
#mastodon .button.button-secondary:hover {
  border: none !important;
  color: white !important;
}

#mastodon .detailed-status__action-bar {
  border-top: none !important;
  border-radius: 12px !important;
}
#mastodon .focusable:focus .detailed-status,
#mastodon .focusable:focus .detailed-status__action-bar,
#mastodon .detailed-status,
#mastodon .detailed-status__action-bar {
  background: none !important;
}
#mastodon .column-link--logo,
#mastodon .ui__header__logo {
background-repeat: no-repeat !important;
  background-size: 120px !important;
  padding: 0 !important;
  width: 200px !important;
  height: 50px !important;
  background-position: 20px 12px;
}
#mastodon .column-link--logo svg,
#mastodon .ui__header__logo svg {
  visibility: hidden !important;
  display: none !important;
}
#mastodon .ui__header__logo {
  height: 50px !important;
  margin: 24px 18px !important;
}
#mastodon .columns-area__panels__main {
  padding: 0 24px !important;
}
.theme-mastodon-light #mastodon .scrollable .account-card {
  background: aliceblue !important;
}
#mastodon .account-card {
  border-radius: 12px !important;
}
#mastodon .account-card__header img {
  background-color: transparent !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}
#mastodon .account-card__header {
  padding: 0 !important;
}
/* start panel */
#mastodon .trends__item {
  border: 0 !important;
}
#mastodon .getting-started__trends h4 {
  border-width: 2px !important;
}
.theme-mastodon-light #mastodon .getting-started__trends h4 {
  border-color: whitesmoke !important;
}

#mastodon .column-header__wrapper.active {
  box-shadow: none !important;
}
#mastodon .column-header__wrapper.active::before {
  background: none !important;
}
#mastodon .column-header__button {
  background: none !important;
}
#mastodon .announcements {
  background: none !important;
}
#mastodon .follow_requests-unlocked_explanation {
  border-radius: 12px !important;
}
#mastodon .audio-player,
#mastodon .report-dialog-modal__textarea,
#mastodon .setting-text {
  border: 2px solid whitesmoke !important;
  /*border-radius: 999px !important;*/
  padding: 12px !important;
}








