/* body.app-body.air,
#mastodon .tabs-bar__wrapper {
  background: #191b22;
}
body.app-body.theme-mastodon-light.air,
.theme-mastodon-light #mastodon .tabs-bar__wrapper {
  background: white;
} */
body.air #mastodon .tabs-bar__wrapper {
  background: none;
}
body.air #mastodon .status__wrapper .poll__input,
body.air #mastodon .status__wrapper .poll__input:active,
body.air #mastodon .status__wrapper .poll__input:focus,
body.air #mastodon .status__wrapper .poll__input:hover {
  border-color: white;
}
body.air #mastodon .status__wrapper .poll__input.active,
body.air #mastodon .status__wrapper .poll__input:active,
body.air #mastodon .status__wrapper .poll__input:focus {
  background: rgba(255,255,255,.8);
}
body.air.theme-mastodon-light #mastodon .poll__input,
body.air.theme-mastodon-light #mastodon .poll__input:active,
body.air.theme-mastodon-light #mastodon .poll__input:focus,
body.air.theme-mastodon-light #mastodon .poll__input:hover {
  border-color: black;
}
body.air.theme-mastodon-light #mastodon .poll__input.active,
body.air.theme-mastodon-light #mastodon .poll__input:active,
body.air.theme-mastodon-light #mastodon .poll__input:focus {
  background: rgba(0,0,0,.8);
}
body.air #mastodon .link-footer p,
body.air #mastodon .link-footer p a,
body.air #mastodon .getting-started__trends h4,
body.air #mastodon .status-card__description,
body.air #mastodon .account__header__extra__links a strong,
body.air #mastodon .account__header__bio .account__header__content,
body.air #mastodon .follow_requests-unlocked_explanation a,
body.air #mastodon .conversation__content__relative-time,
body.air #mastodon .conversation__content__names,
body.air #mastodon .conversation__content__names a,
body.air #mastodon .story__details__shared,
body.air #mastodon .story__details__publisher,
body.air #mastodon .dismissable-banner__message,
body.air #mastodon .announcements__item__content a,
body.air #mastodon .setting-toggle__label,
body.air #mastodon .column-settings__section,
body.air #mastodon .link-button,
body.air #mastodon .status__content__read-more-button,
body.air #mastodon .translate-button,
body.air #mastodon .button.button-tertiary,
body.air #mastodon .button.button-tertiary:active,
body.air #mastodon .button.button-tertiary:focus,
body.air #mastodon .button.button-tertiary:hover,
body.air #mastodon .poll .button,
body.air #mastodon .block-modal__cancel-button,
body.air #mastodon .confirmation-modal__cancel-button,
body.air #mastodon .confirmation-modal__secondary-button,
body.air #mastodon .mute-modal__cancel-button,
body.air #mastodon .muted .poll,
body.air #mastodon .poll .poll__link,
body.air #mastodon .poll__footer,
body.air #mastodon .account__header__extra__links a,
body.air #mastodon .account__header__bio .account__header__fields a,
body.air #mastodon .account__header__bio .account__header__fields .verified a,
body.air #mastodon .account__header__fields .verified__mark,
body.air #mastodon .account__header__bio .account__header__fields dt,
body.air #mastodon .account__header__bio .account__header__fields dd,
body.air #mastodon .account__header__tabs__name,
body.air #mastodon .account__header__tabs__name h1,
body.air #mastodon .account__header__tabs__name h1 small,
body.air #mastodon .account-card__counters__item,
body.air #mastodon .account-card__counters__item small,
body.air #mastodon .display-name,
body.air #mastodon .icon-button,
body.air #mastodon .account__header__tabs__buttons .icon-button,
body.air #mastodon .status__action-bar .icon-button,
body.air #mastodon .reply-indicator__content .icon-button,
body.air #mastodon .reply-indicator__content,
body.air #mastodon .reply-indicator__content a,
body.air #mastodon .status__content a,
body.air #mastodon .compose-form .compose-form__warning,
body.air #mastodon .compose-form .compose-form__warning a
body.air #mastodon .muted .status__content,
body.air #mastodon .muted .status__content a,
body.air #mastodon .muted .status__content p,
body.air #mastodon .muted .status__display-name strong,
body.air #mastodon .column-header__button,
body.air #mastodon .tabs-bar__wrapper,
body.air #mastodon .status__content,
body.air #mastodon .status__prepend,
body.air #mastodon .status__display-name,
body.air #mastodon .status__display-name strong,
body.air #mastodon .status__relative-time,
body.air #mastodon .status-card,
body.air #mastodon .status-card__title,
body.air #mastodon .detailed-status__display-name strong,
body.air #mastodon .compose__action-bar-dropdown .icon-button,
body.air #mastodon .account-card__title .display-name bdi,
body.air #mastodon .column-subheading {
    color: white;
}
body.air.theme-mastodon-light #mastodon .link-footer p,
body.air.theme-mastodon-light #mastodon .link-footer p a,
body.air.theme-mastodon-light #mastodon .getting-started__trends h4,
body.air.theme-mastodon-light #mastodon .status-card__description,
body.air.theme-mastodon-light #mastodon .account__header__extra__links a strong,
body.air.theme-mastodon-light #mastodon .account__header__bio .account__header__content,
body.air.theme-mastodon-light #mastodon .follow_requests-unlocked_explanation a,
body.air.theme-mastodon-light #mastodon .conversation__content__relative-time,
body.air.theme-mastodon-light #mastodon .conversation__content__names,
body.air.theme-mastodon-light #mastodon .conversation__content__names a,
body.air.theme-mastodon-light #mastodon .story__details__shared,
body.air.theme-mastodon-light #mastodon .story__details__publisher,
body.air.theme-mastodon-light #mastodon .dismissable-banner__message,
body.air.theme-mastodon-light #mastodon .announcements__item__content a,
body.air.theme-mastodon-light #mastodon .setting-toggle__label,
body.air.theme-mastodon-light #mastodon .column-settings__section,
body.air.theme-mastodon-light #mastodon .muted .poll,
body.air.theme-mastodon-light #mastodon .poll .poll__link,
body.air.theme-mastodon-light #mastodon .poll__footer,
body.air.theme-mastodon-light #mastodon .account__header__extra__links a,
body.air.theme-mastodon-light #mastodon .account__header__bio .account__header__fields a,
body.air.theme-mastodon-light #mastodon .account__header__bio .account__header__fields .verified a,
body.air.theme-mastodon-light #mastodon .account__header__fields .verified__mark,
body.air.theme-mastodon-light #mastodon .account__header__bio .account__header__fields dt,
body.air.theme-mastodon-light #mastodon .account__header__bio .account__header__fields dd,
body.air.theme-mastodon-light #mastodon .account__header__tabs__name,
body.air.theme-mastodon-light #mastodon .account__header__tabs__name h1,
body.air.theme-mastodon-light #mastodon .account__header__tabs__name h1 small,
body.air.theme-mastodon-light #mastodon .account-card__counters__item,
body.air.theme-mastodon-light #mastodon .account-card__counters__item small,
body.air.theme-mastodon-light #mastodon .display-name,
body.air.theme-mastodon-light #mastodon .account__header__tabs__buttons .icon-button,
body.air.theme-mastodon-light #mastodon .icon-button,
body.air.theme-mastodon-light #mastodon .reply-indicator__content,
body.air.theme-mastodon-light #mastodon .reply-indicator__content .icon-button,
body.air.theme-mastodon-light #mastodon .reply-indicator__content a,
body.air.theme-mastodon-light #mastodon .status__content a,
body.air.theme-mastodon-light #mastodon .compose-form .compose-form__warning,
body.air.theme-mastodon-light #mastodon .compose-form .compose-form__warning a
body.air.theme-mastodon-light #mastodon .muted .status__content,
body.air.theme-mastodon-light #mastodon .muted .status__content a,
body.air.theme-mastodon-light #mastodon .muted .status__content p,
body.air.theme-mastodon-light #mastodon .muted .status__display-name strong,
body.air.theme-mastodon-light #mastodon .status__content,
body.air.theme-mastodon-light #mastodon .tabs-bar__wrapper,
body.air.theme-mastodon-light #mastodon .column-header__button,
body.air.theme-mastodon-light #mastodon .status__prepend,
body.air.theme-mastodon-light #mastodon .status__display-name,
body.air.theme-mastodon-light #mastodon .status__display-name strong,
body.air.theme-mastodon-light #mastodon .status__relative-time,
body.air.theme-mastodon-light #mastodon .status-card,
body.air.theme-mastodon-light #mastodon .status-card__title,
body.air.theme-mastodon-light #mastodon .detailed-status__display-name strong,
body.air.theme-mastodon-light #mastodon .icon-button,
body.air.theme-mastodon-light #mastodon .account-card__title .display-name bdi,
body.air.theme-mastodon-light #mastodon .column-subheading {
    color: black;
}
body.air #mastodon .compose-form__buttons .icon-button {
  color: black;
}
body.air #mastodon .icon-button:hover {
  opacity: 0.7;
}
.text-icon-button {
  background: none;
}
.text-icon-button.active,
.text-icon-button:focus {
  color: white;
  background-color: #606984;
}
body.air.theme-mastodon-light #mastodon .link-button,
body.air.theme-mastodon-light #mastodon .status__content__read-more-button,
body.air.theme-mastodon-light #mastodon .translate-button {
  color: black;
  opacity: 0.6;
}
body.air #mastodon .column-link:hover span,
body.air #mastodon .column-link.active span,
body.air #mastodon .column-link.active .column-link__icon {
  opacity: 1;
}
body.air #mastodon .account__section-headline,
body.air #mastodon .notification__filter-bar,
body.air #mastodon .notification__filter-bar button,
body.air #mastodon hr,
body.air #mastodon .columns-area__panels__pane--navigational .navigation-panel,
body.air #mastodon .ui__header,
body.air #mastodon .column>.scrollable,
body.air #mastodon .error-column,
body.air #mastodon .getting-started,
body.air #mastodon .regeneration-indicator,
body.air #mastodon .focusable:focus .detailed-status,
body.air #mastodon .focusable:focus .detailed-status__action-bar,
body.air #mastodon .detailed-status,
body.air #mastodon .detailed-status__action-bar,
body.air #mastodon .column-header__wrapper.active::before,
body.air #mastodon .column-header__button,
body.air #mastodon .account-card__header img,
body.air #mastodon .story,
body.air #mastodon .column-header,
body.air #mastodon .column-inline-form,
body.air #mastodon .column-link__badge,
body.air #mastodon .column-subheading,
body.air #mastodon .empty-column-indicator,
body.air #mastodon .status-card__image,
body.air #mastodon .icon-button:active,
body.air #mastodon .icon-button:focus,
body.air #mastodon .icon-button:hover {
  /* background: #191b22; */
  background: transparent;
}
body.air #mastodon .poll__chart.leading {
  opacity: 1;
}
body.air #mastodon .announcements,
body.air #mastodon .column-header__collapsible-inner,
body.air #mastodon .scrollable .account-card,
body.air #mastodon .follow_requests-unlocked_explanation {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
body.air #mastodon .account__header {
  background: none;
}
body.air #mastodon .account-card__header {
  background: rgba(255, 255, 255, 0.2);
}
body.air.theme-mastodon-light #mastodon .announcements,
body.air.theme-mastodon-light #mastodon .column-header__collapsible-inner,
body.air.theme-mastodon-light #mastodon .scrollable .account-card {
  background: rgba(0, 0, 0, 0.1);
  color: black;
}
body.air #mastodon .column-header__wrapper.active {
  box-shadow: none;
}
body.air #mastodon .audio-player,
body.air #mastodon .report-dialog-modal__textarea {
    border: 2px solid whitesmoke;
}
body.air #mastodon .column-link--transparent.active {
  /* color: #6060FF;
  background: none; */
  color: white;
  background: rgba(255,255,0255,.05);
}
body.air.theme-mastodon-light #mastodon .column-link--transparent.active {
  color: black;
  background: rgba(0,0,0,.05);
}
body.air #mastodon .list-panel .column-link--transparent.active {
  background: none;
}
body.air #mastodon .column-header__back-button,
body.air #mastodon .column-back-button {
  color: white;
  background: none;
}
body.air.theme-mastodon-light #mastodon .column-header__back-button,
body.air.theme-mastodon-light #mastodon .column-back-button {
  color: black;
  background: none;
}
body.air #mastodon .attachment-list__list a,
body.air #mastodon .detailed-status__meta,
body.air #mastodon .translate-button__meta,
body.air #mastodon .account__section-headline a,
body.air #mastodon .account__section-headline button,
body.air #mastodon .notification__filter-bar a,
body.air #mastodon .notification__filter-bar button {
  color: rgba(255, 255, 255, .6);
}
body.air.theme-mastodon-light #mastodon .attachment-list__list a,
body.air.theme-mastodon-light #mastodon .detailed-status__meta,
body.air.theme-mastodon-light #mastodon .translate-button__meta,
body.air.theme-mastodon-light #mastodon .account__section-headline a,
body.air.theme-mastodon-light #mastodon .account__section-headline button,
body.air.theme-mastodon-light #mastodon .notification__filter-bar a,
body.air.theme-mastodon-light #mastodon .notification__filter-bar button {
  color: rgba(0, 0, 0, .6);
}
body.air #mastodon .empty-column-indicator,
body.air #mastodon .follow_requests-unlocked_explanation {
  color: white;
}
body.air.theme-mastodon-light #mastodon .empty-column-indicator,
body.air.theme-mastodon-light #mastodon .follow_requests-unlocked_explanation {
  color: black;
}
body.air #mastodon .notification.unread::before,
body.air #mastodon .status__wrapper.unread::before {
  border-left-color: rgba(255,255,255,0.6);
}
/*
body.air #mastodon button.icon-button i.fa-retweet {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%23FFFFFF' stroke-width='0'/>    <path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%2300c277' stroke-width='0'/></svg>");
}
body.air.theme-mastodon-light #mastodon button.icon-button i.fa-retweet {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%23000000' stroke-width='0'/>    <path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='%2300c277' stroke-width='0'/></svg>");
}
*/
/*
body.air #mastodon button.icon-button i.fa-retweet {
  color: white;
}
body.air.theme-mastodon-light #mastodon button.icon-button i.fa-retweet {
  color: black;
}
*/
body.air #mastodon button.icon-button i.fa-retweet,
body.air #mastodon button.icon-button.active i.fa-retweet {
  background: none;
}
body.air #mastodon button.icon-button.active i.fa-retweet {
  color: #00c277;
}
/* Compose form reply text */
body.air #mastodon .reply-indicator,
body.air #mastodon .compose-form__warning {
  border: 0;
  background: rgba(255,255,255,.1);
}
body.air.theme-mastodon-light #mastodon .reply-indicator,
body.air.theme-mastodon-light #mastodon .compose-form__warning {
  border: 0;
  background: rgba(0,0,0,.1);
}
body.air #mastodon .status__content a {
  opacity: 1;
}
body.air #mastodon .navigation-bar,
body.air #mastodon .search__input::placeholder,
body.air #mastodon .navigation-bar strong,
body.air #mastodon .navigation-bar a,
body.air #mastodon .search__icon .fa,
body.air #mastodon .search__icon .fa-times-circle {
  color: white;
}
body.air.theme-mastodon-light .navigation-bar,
body.air.theme-mastodon-light #mastodon .search__input::placeholder,
body.air.theme-mastodon-light #mastodon .navigation-bar strong,
body.air.theme-mastodon-light #mastodon .navigation-bar a,
body.air.theme-mastodon-light #mastodon .search__icon .fa,
body.air.theme-mastodon-light #mastodon .search__icon .fa-times-circle {
  color: black;
}
body.air #mastodon .search__input {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
body.air.theme-mastodon-light #mastodon .search__input {
  background: rgba(0, 0, 0, 0.1);
  border-color: transparent;
  color: black;
}
body.air #mastodon .status-card__image {
  background: rgba(0, 0, 0, 0.3);
}
body.air #mastodon a.status-card.compact:hover,
body.air #mastodon a.status-card:hover {
  background: rgba(0, 0, 0, 0.1);
}
body.air #mastodon .compose-form .spoiler-input__input,
body.air #mastodon .compose-form__autosuggest-wrapper,
body.air #mastodon .compose-form__poll-wrapper select {
  border: 2px solid rgba(0, 0, 0, 0.03);
}
body.air #mastodon .compose-form__autosuggest-wrapper,
body.air #mastodon .compose-form__buttons-wrapper {
    background: white;
    /* border-color: rgba(0, 0, 0, 0.03); */
    border: 0;
}
body.air #mastodon .compose-form__poll-wrapper,
body.air #mastodon .compose-form__poll-wrapper .poll__footer {
  border-top-color: whitesmoke;
}
body.air #mastodon .story {
  color: white;
}
body.air.theme-mastodon-light #mastodon .story {
  color: black;
}
body.air #mastodon .story:active,
body.air #mastodon .story:focus,
body.air #mastodon .story:hover,
body.air #mastodon .dismissable-banner,
body.air #mastodon .focusable:focus,
body.air #mastodon a.status-card:hover,
body.air #mastodon .scrollable .focusable.detailed-status__wrapper,
body.air #mastodon .account__header__bio .account__header__fields {
    background: rgba(255, 255, 255, 0.05);
}
body.air.theme-mastodon-light #mastodon .story:active,
body.air.theme-mastodon-light #mastodon .story:focus,
body.air.theme-mastodon-light #mastodon .story:hover,
body.air.theme-mastodon-light #mastodon .dismissable-banner,
body.air.theme-mastodon-light #mastodon .focusable:focus,
body.air.theme-mastodon-light #mastodon a.status-card:hover,
body.air.theme-mastodon-light #mastodon .scrollable .focusable.detailed-status__wrapper,
body.air.theme-mastodon-light #mastodon .account__header__bio .account__header__fields,
body.air.theme-mastodon-light #mastodon .follow_requests-unlocked_explanation {
    background: rgba(0, 0, 0, 0.05);
}
body.air .privacy-dropdown.active .privacy-dropdown__value.active {
  background-color: whitesmoke;
}
body.air.theme-mastodon-light #mastodon a.status-card:hover {
  border-color: transparent;
}
body.air #mastodon .scrollable .focusable.detailed-status__wrapper {
    background-color: rgba(255, 255, 255, 0.1);
}
body.air #mastodon .status-card,
body.air #mastodon .column-header__collapsible-inner,
body.air #mastodon .column-header__wrapper .announcements,
body.air #mastodon .status,
body.air #mastodon .focusable.detailed-status__wrapper,
body.air #mastodon .notification.notification-follow.focusable .account,
body.air #mastodon .detailed-status__action-bar,
body.air #mastodon .conversation {
  /* border-color: whitesmoke; */
  border-color: rgba(255, 255, 255, 0.1);
}
body.air.theme-mastodon-light #mastodon .status-card,
body.air.theme-mastodon-light #mastodon .column-header__collapsible-inner,
body.air.theme-mastodon-light #mastodon .column-header__wrapper .announcements,
body.air.theme-mastodon-light #mastodon .status,
body.air.theme-mastodon-light #mastodon .focusable.detailed-status__wrapper,
body.air.theme-mastodon-light #mastodon .notification.notification-follow.focusable .account,
body.air.theme-mastodon-light #mastodon .detailed-status__action-bar,
body.air.theme-mastodon-light #mastodon .conversation {
  /* border-color: whitesmoke; */
  border-color: rgba(0, 0, 0, 0.1);
}
body.air #mastodon .account__section-headline a.active::after,
body.air #mastodon .notification__filter-bar button.active::after {
  border-color: transparent;
}
body.air #mastodon .account__section-headline a.active::after,
body.air #mastodon .account__section-headline a.active::before,
body.air #mastodon .account__section-headline button.active::after,
body.air #mastodon .account__section-headline button.active::before,
body.air #mastodon .notification__filter-bar a.active::after,
body.air #mastodon .notification__filter-bar a.active::before,
body.air #mastodon .notification__filter-bar button.active::after,
body.air #mastodon .notification__filter-bar button.active::before,
body.air #mastodon .account__section-headline,
body.air #mastodon .notification__filter-bar {
  border-bottom-color: rgba(255, 255, 255, .6);
}
body.air.theme-mastodon-light #mastodon .account__section-headline a.active::after,
body.air.theme-mastodon-light #mastodon .account__section-headline a.active::before,
body.air.theme-mastodon-light #mastodon .account__section-headline button.active::after,
body.air.theme-mastodon-light #mastodon .account__section-headline button.active::before,
body.air.theme-mastodon-light #mastodon .notification__filter-bar a.active::after,
body.air.theme-mastodon-light #mastodon .notification__filter-bar a.active::before,
body.air.theme-mastodon-light #mastodon .notification__filter-bar button.active::after,
body.air.theme-mastodon-light #mastodon .notification__filter-bar button.active::before,
body.air.theme-mastodon-light #mastodon .account__section-headline,
body.air.theme-mastodon-light #mastodon .notification__filter-bar {
  border-bottom-color: rgba(0, 0, 0, .6);
}
body.air #mastodon .scrollable .account-card__bio::after {
  background: transparent;
}
body.air #mastodon .trends__item__name,
body.air #mastodon .trends__item__name a {
    color: white;
}
body.air.theme-mastodon-light #mastodon .trends__item__name,
body.air.theme-mastodon-light #mastodon .trends__item__name a {
    color: black;
}
body.air #mastodon .trends__item__name span {
    opacity: 0.7;
}
body.air #mastodon .notification__message,
body.air #mastodon .notification__message .fa {
  color: white;
}
body.air.theme-mastodon-light #mastodon .notification__message,
body.air.theme-mastodon-light #mastodon .notification__message .fa {
  color: black;
}
body.air #mastodon .account__section-headline {
  border-bottom-color: rgba(255, 255, 255, .6);
}
body.air.theme-mastodon-light #mastodon .account__section-headline {
  border-bottom-color: rgba(0, 0, 0, .6);
}
body.air #mastodon .account__header__extra__links a.active {
  background: rgba(255,255,255,.3);
}
body.air #mastodon .account__header__extra__links a.active,
body.air #mastodon .account__header__extra__links a.active strong {
  color: white;
}
body.air.theme-mastodon-light #mastodon .account__header__extra__links a.active {
  background: rgba(0,0,0,.3);
}
body.air #mastodon .account__header__bar .avatar .account__avatar {
  background: rgba(255, 255, 255, .6);
}
body.air.theme-mastodon-light #mastodon .account__header__bar .avatar .account__avatar {
  background: rgba(0, 0, 0, .1);
}
body.air #mastodon .account__header__account-note textarea::placeholder,
body.air #mastodon .account__header__account-note label {
  color: white;
}
body.air #mastodon .account__header__account-note textarea:focus {
  color: black;
  background: white;
}
body.air.theme-mastodon-light #mastodon .account__header__account-note textarea::placeholder,
body.air.theme-mastodon-light #mastodon .account__header__account-note label {
  color: black;
}
body.air.theme-mastodon-light #mastodon .account__header__account-note textarea:focus {
  color: black;
  background: rgba(0, 0, 0, .1);
}
body.air.theme-mastodon-light #mastodon .account__header__account-note textarea:focus::placeholder {
  color: transparent;
}
body.air #mastodon .column-link--transparent,
body.air #mastodon .column-link {
  color: rgba(255,255,255,.8);
}
body.air #mastodon .column-link--transparent:hover,
body.air #mastodon .column-link:hover {
  color: white;
}
body.air.theme-mastodon-light #mastodon .column-link--transparent,
body.air.theme-mastodon-light #mastodon .column-link {
  color: rgba(0,0,0,.8);
}
body.air.theme-mastodon-light #mastodon .column-link--transparent:hover,
body.air.theme-mastodon-light #mastodon .column-link:hover {
  color: black;
}
body.air #mastodon .radio-button__input {
  border-color: white;
}
body.air.theme-mastodon-light #mastodon .radio-button__input,
body.air #mastodon .compose-form__poll-wrapper .poll__input {
  border-color: black;
}
body.air #mastodon .compose-form__poll-wrapper .button.button-secondary {
  color: white;
  border: 0;
}
body.air #mastodon .report-modal__container .link-button,
body.air #mastodon .compose-form__sensitive-button .icon-button,
body.air #mastodon .compose-form__buttons-wrapper .icon-button {
  color: black;
}
body.air #mastodon .compose-form__upload-thumbnail .compose-form__upload__actions .icon-button,
body.air #mastodon .compose-form__upload-thumbnail .compose-form__upload__warning .icon-button {
  color: white;
}

/* body.theme-mastodon-light,
.theme-mastodon-light #mastodon .columns-area__panels__pane--navigational .navigation-panel,
.theme-mastodon-light #mastodon .ui__header,
.theme-mastodon-light #mastodon .column-inline-form,
.theme-mastodon-light #mastodon .column>.scrollable,
.theme-mastodon-light #mastodon .error-column,
.theme-mastodon-light #mastodon .getting-started,
.theme-mastodon-light #mastodon .regeneration-indicator,
.theme-mastodon-light .tabs-bar__wrapper,
.theme-mastodon-light .column-header__collapsible-inner {
  background: white;
  background: transparent;
} */
/* Bookmark icon, notification count badge */
/*#mastodon .icon-button.bookmark-icon.active,*/








